@import "../../../theme";

.signin {
    background-color: mat-color($app-primary);
    height: 100%;    
}

.form-container {
    background-color: mat-color($app-dark-foreground, text);
    padding: 5em 3.5em 3.5em 3.5em;
    width: 500px;
    left:50%;
    top: 12%;
    margin-left:-250px;
    z-index: 15;
    position: relative;
}

button {
    padding:1.2em;
    cursor:pointer;
}

.alc {
    text-align: center;
    display: block;
    margin: 15px 0;
}

@media (max-width: 600px) {
    .form-container {
        padding: 5em 1.2em 1.2em 1.2em;        
        width:90%;
        margin-left:-45%;
    }
}