<div fxLayout="column" class="crud-page">
  <app-navbar></app-navbar>
    <mat-sidenav-container class="crud-container">    
      <mat-sidenav class="crud-sidenav" mode="side" opened="true">
          <mat-nav-list>
            <mat-list-item>
              <button fxFlex mat-raised-button (click)="add()" color="accent">Add Farm</button>
            </mat-list-item>
          </mat-nav-list>
          <mat-nav-list>
            <mat-list-item *ngFor="let farm of farms$ | async; let i = index" (click)="selectFarm(i,farm)" [class.crud-selectedRow]="i === selectedRow">
              <span>{{farm.name}}</span>
            </mat-list-item>
        </mat-nav-list>            
      </mat-sidenav>
      <mat-sidenav-content class="crud-sidenav-content">
          <mat-card>
              <form [formGroup]="farmForm" fxLayout="column" fxLayoutGap="16px">
                <mat-form-field>
                    <input matInput placeholder="Enter a Farm Name" formControlName="name" required autocomplete="off">
                    <mat-error *ngIf="farmForm.controls.name.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Enter a Farm Descripton" formControlName="desc" autocomplete="off">                
                </mat-form-field>
                <mat-card-actions fxLayout="row" fxLayoutGap="5px" class="crud-card-actions">                    
                    <button fxFlex="0 0 auto" mat-raised-button (click)="save()" color="accent" [disabled]="farmForm.pristine || farmForm.invalid">Save</button>
                    <button fxFlex="0 0 auto" mat-raised-button (click)="confirmDelete()" color="accent" [disabled]="farmForm.invalid">Delete</button>
                </mat-card-actions>
              </form>
            </mat-card>            
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>