<div fxLayout="column" class="email">
<app-navbar></app-navbar>
<div fxLayout="column" fxLayoutGap="15px" class="form-container">
    <a routerLink="/login" id="goback">Go back</a>
    
    <span class="error" *ngIf="error">{{ error }}</span>

    <form [formGroup]="emailForm" fxLayout="column" fxLayoutGap="16px">
        <mat-form-field>
            <input matInput type="text" placeholder="Email address.." formControlName="email" required autocomplete="off">
            <mat-error *ngIf="emailForm.controls.email.invalid">{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="must be at least six characters">
            <input matInput type="password" placeholder="Password" formControlName="password" required autocomplete="off">
            <mat-error *ngIf="emailForm.controls.password.invalid">{{getErrorMessage('password')}}</mat-error>                
        </mat-form-field>
        <button mat-raised-button (click)="signInWithEmail()" color="primary" [disabled]="emailForm.invalid">Sign in</button>
    </form>
</div>
</div>