<div fxLayout="column" fxLayoutGap="20px">
    <app-navbar></app-navbar>
    <form [formGroup]="moolaCacheForm" fxLayoutAlign="center center">    
    <mat-card fxFlex="0 1 90%" fxLayoutGap="16px">
      <mat-form-field>
      <mat-select placeholder="Select a Farm" formControlName="farm" autocomplete="off" >
        <mat-option>None</mat-option>
        <mat-option *ngFor="let farm of farms$ | async" [value]="farm">
          {{farm.name}}
        </mat-option>
      </mat-select>
      </mat-form-field>
    </mat-card>
    </form>
    <div *ngIf="moolaCacheForm.controls.farm.value">
        <app-moolacachedetail
          [farm]="moolaCacheForm.controls.farm.value">
        </app-moolacachedetail>
    </div>      
</div>
